configuration {
	modi:				"run,drun,ssh";
	kb-accept-entry:	"Super+m,Return,KP_Enter";
	kb-accept-entry:	"Return";
	kb-row-left:		"super+h";
	kb-row-right:		"super+l";
	kb-row-up:			"super+k,Up";
	kb-row-down:		"super+j,Down";
	matching:			"fuzzy";
	show-icons:			true;
	display-run:		"$ ";
	display-drun:		"Run: ";
	display-ssh:		"SSH: ";
	drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	drun-display-format: "{name}";
}
@theme "launchpad.rasi"
