#! /bin/sh 

##### Monitor #####
#$XDG_CONFIG_HOME/monitor/overclock & # Monitor overclock settings


##### X settings #####
xrdb $XDG_CONFIG_HOME/X11/.Xresources & # Source Xresources
#numlockx & # Numlock on 
xsetroot -cursor_name left_ptr & # Remove X cursor
xset s off & # Disabled screen timeout
xset q &
remaps &


###### Daemons ######
#sxhkd & # Hotkey
sxhkd -c $HOME/.config/sxhkd/sxhkdwm &
dunstLaunch & # Notification


###### Visual #######
picom & # Compositor
setbg & # Wallpaper


##### Audio #####
BCD &
startpulse &
