@binding-set gtk-vim-text-entry
{
  bind "<ctrl>u" { "delete-from-cursor" (paragraph-ends, -1) };
  bind "<ctrl>h" { "delete-from-cursor" (chars, -1) };
  bind "<ctrl>w" { "delete-from-cursor" (word-ends, -1) }; /* delete word */
}

@binding-set gtk-vim-text-view
{
    bind "<ctrl>d" { "move-cursor" (display-lines, 5, 0) };      /* 5 lines down */
    bind "<ctrl>f" { "move-cursor" (display-lines, 5, 0) };      /* 5 lines down */
    bind "<ctrl>u" { "move-cursor" (display-lines, -5, 0) };     /* 5 lines up */
    bind "<ctrl>b" { "move-cursor" (display-lines, -5, 0) };     /* 5 lines up */
    bind "<ctrl>e" { "move-cursor" (display-lines, -1, 0) };     /* down */
    bind "<ctrl>y" { "move-cursor" (display-lines, 1, 0) };      /* up */
    bind "<ctrl>j" { "move-cursor" (display-lines, 1, 0) };      /* down */
    bind "<ctrl>k" { "move-cursor" (display-lines, -1, 0) };     /* up */
    bind "<alt>j" { "move-cursor" (display-lines, 1, 0) };       /* down */
    bind "<alt>k" { "move-cursor" (display-lines, -1, 0) };      /* up */
    bind "<alt>l" { "move-cursor" (logical-positions, 1, 0) };   /* right */
    bind "<alt>h" { "move-cursor" (logical-positions, -1, 0) };  /* left */
}

@binding-set gtk-vim-tree-view
{
    bind "j" { "move-cursor" (display-lines, 1) };            /* selection down */
    bind "k" { "move-cursor" (display-lines, -1) };           /* selection up */
    bind "l" { "move-cursor" (logical-positions, 1) };        /* selection right */
    bind "h" { "move-cursor" (logical-positions, -1) };       /* selection left */

}

entry {
  -gtk-key-bindings: gtk-vim-text-entry;
}

textview {
  -gtk-key-bindings: gtk-vim-text-entry, gtk-vim-text-view;
}

treeview {
  -gtk-key-bindings: gtk-vim-tree-view;
}
